[Unit]
Description=Mount VMware Shared Folders
After=open-vm-tools.service

[Mount]
What=.host:/
Where=/mnt/hgfs
Type=fuse.vmhgfs-fuse
Options=rw,allow_other,uid=1000,gid=0,umask=002

[Install]
WantedBy=multi-user.target
